Kerberos/src/.DS_Store
Kerberos/out/

KDC/target/
Client/target/
ApplicationServer/target/


KDC/.idea/
Client/.idea/
ApplicationServer/.idea/

#ClientServerJavaCode/UDP-ClientServer-Communication/out/
#ClientServerJavaCode/UDP-ClientServer-Communication/.DS_Store


